<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      TODO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label>Atividade 1</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Atividade 2</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Atividade 3</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Atividade 4</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Atividade 5</ion-label>
    </ion-item>
  </ion-list>
  <ion-fab vertical="center" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
